/* =================
 table of contents
====================
 
1. Header Design
2. Buttons' Icons
3. Modal == pop up
4. Responsive Design (media query)
*/

section.hero {
  margin-top: 3rem;
}
/* ===============
   1. Left Section
================== */
section.hero .main-avatar.flex {
  align-items: end;
  gap: 0.6rem;
}

section.hero .left-section {
  flex-grow: 1;
}

section.hero .icon-verified {
  color: var(--blue);
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

section.hero .avatar {
  width: 90px;
  border-radius: 50%;
  border: 1px solid rgb(197, 72, 85);
  padding: 1px;
}

section.hero .intro {
  display: flex;
}

section.hero h1.title {
  font-size: 2.85rem;
  line-height: 3.3rem;
  margin: 24px 0;
  color: var(--title);
}

section.hero p.sub-title {
  color: var(--subtitle);
  font-size: 0.9rem;
  line-height: 1.65rem;
  margin-bottom: 30px;
}

section.hero .all-icons {
  font-size: 1.4rem;
  gap: 1.5rem;
  color: var(--subtitle);
}

section.hero .all-icons .icon:hover {
  font-size: 1.3rem;
  transition: 0.3s;
  cursor: pointer;
  color: var(--icon-hover);
}

/* ===============
   2. Right Section ==> animation
================== */
